{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vampire.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block title %}
  {% if title %}{{ title }} - Vampire{% else %}{{ ('Welcome to Vampire') }}{% endif %}
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-header">
      <img src="{{ url_for('static', filename='nav-logo.png') }}" class="align-middle">
      <a style="vertical-align: middle;" class="navbar-brand veranda-h1" href="{{ url_for('main.index') }}">Vampire</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a style="vertical-align: middle;" class="nav-link veranda-h1" href="{{ url_for('main.add_blood') }}">Add Blood</a>
        </li>
        <li class="nav-item">
          <a style="vertical-align: middle;" class="nav-link veranda-h1" href="{{ url_for('main.view_blood') }}">View Blood</a>
        </li>
        <li class="nav-item">
          <a style="vertical-align: middle;" class="nav-link veranda-h1" href="{{ url_for('main.ordered_blood') }}">Ordered Blood</a>
        </li>
        <li class="nav-item">
            <a style="vertical-align: middle;" class="nav-link veranda-h1" href="{{ url_for('main.blood_levels') }}">Blood Levels</a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
