{% extends 'base.html' %}

{% block app_content %}
  <div class="container flex-centre" style="height: 75vh;">
    <div class="row jumbotron flex-centre">
      <div class ="col-12 text-center">
        <h1 class="display-4">Deposit Blood</h1>
	<form action="/action_page.php">
  	  Blood Type:
  	  <select name="bloodTypes">
  	  	<option value="A+">A+</option>
  	  	<option value="A-">A-</option>
  	  	<option value="B+">B+</option>
  	  	<option value="B-">B-</option>
	  	<option value="AB+">AB+</option>
	  	<option value="AB-">AB-</option>
	  	<option value="O+">O+</option>
	  	<option color="green" value="O-">O-</option>
	  </select> 
          <br><br>
	  Enter quantity (mL):
          <input name="quantity" type="text">
          <br><br>
  	  <input type="submit">
	</form>	
      </div>
    </div>
  </div>
{% endblock %}
