{% extends 'base.html' %}

{% block app_content %}
  <div class="container flex-centre" style="height: 75vh;">
    <div class="row jumbotron flex-centre">
      <div class ="col-12 text-center">
        <h1 class="display-4">Vampire</h1>
        <h1 class="display-4">Blood Management</h1>
	<p class="lead">Select Blood type</p>	 
	<select name="bloodTypes">
  		<option value="A+">A+</option>
  		<option value="A-">A-</option>
  		<option value="B+">B+</option>
  		<option value="B-">B-</option>
		<option value="AB+">AB+</option>
		<option value="AB-">AB-</option>
		<option value="O+">O+</option>
		<option color="green" value="O-">O-</option>
	</select> 
	</div>
    </div>
  </div>
{% endblock %}
