{% extends 'base.html' %}
{% block app_content %}

<form method="post">
  <input type="submit" value="expiry" name="sort"/>
  <input type="submit" value="volume" name="sort" />
</form>

  <div class="container flex-centre" style="height: 75vh;">
    <div class="row jumbotron flex-centre">
        <ul>
            {% if display_format == "donation" %}
              {% for b in blood %}
              {% if b.use_by_date < date %}
              <li style="color: red;">
              {% else %}
              <li>
              {% endif %}
                <span>"Blood type: "{{b.blood_type}} </span>
                <span>"Blood volume: "{{b.volume}} </span>
                <span>"Use-by date: "{{b.use_by_date}}</span>
              </li>
              {% endfor %}
            {% else %}
              {% for b in blood %}
              {% if b.volume < 5 %}
              <li style="color: red;">
              {% else %}
              <li>
              {% endif %}
                <span>"Blood type: "{{b.blood_type}} </span>
                <span>"Total volume: "{{b.volume}} </span>
              </li>
              {% endfor %}
            {% endif %}  
        </ul>
    </div>
  </div>

{% endblock %}
